---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 740px;
  width: 100%;
  margin: 2.5rem auto;
  padding: 0 1rem;
}

body, p, li {
  font-size: 18px;
  line-height: 1.65;
}

header p.view {
  display: none !important;
}
